.navbar-brand {
  font-size: 30px;
}

.navbar {
  justify-content: space-between;
  background: transparent;
  transition: 0.2s ease;
}

.navbar-white {
  background-color: rgb(255, 255, 255);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
