.text-white:hover {
  opacity: 0.5;
}
.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: 0.2s ease;
}

.navbar-white {
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
