.text-white:hover {
  opacity: 0.5;
}

.navbar-brand {
  font-size: 30px;

  &:hover {
    opacity: 1;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: 0.2s ease;
}

.navbar-white {
  background-color: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
